@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
	margin-top: 1em;
}

p[epub|type~="z3998:salutation"] + p,
[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

b,
strong{
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}

p.signature{
	text-align: right;
}

header p{
	text-indent: 0;
	font-variant: small-caps;
	text-align: center;
}

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="prologue"] footer{
	font-style: italic;
}
